@charset "UTF-8";
:root {
	--clr-primary: hsl(193, 74%, 16%);
	--clr-primary-light: hsl(193, 44%, 56%);
	--clr-primary-dark: hsl(193, 44%, 6%);
	--clr-accent: hsl(311, 64%, 27%);
	--clr-accent-light: hsl(311, 44%, 67%);
	--clr-accent-dark: hsl(311, 44%, 17%);
	--clr-extra: hsl(56, 100%, 47%);
	--clr-extra-light: hsl(56, 70%, 77%);
	--clr-extra-dark: hsl(56, 70%, 27%);
	--clr-white: hsl(0, 100%, 100%);
	--clr-neutral-100: hsl(163, 7%, 81%);
	--clr-neutral-300: hsl(163, 7%, 61%);
	--clr-neutral-500: hsl(163, 7%, 51%);
	--clr-neutral-700: hsl(163, 7%, 31%);
	--clr-neutral-900: hsl(163, 7%, 21%);
	--clr-black: hsl(163, 7%, 10%);
	--clr-secondary: var(--clr-neutral-300);
	--clr-success: green;
	--clr-danger: red;
	--clr-warning: yellow;
	--clr-info: teal;
}

body {
	color: var(--text-color);
	background-color: var(--background-color);
}

.mainnav {
	background-color: var(--background-color);
}

a {
	color: var(--link-color);
}
a:hover, a:active {
	color: var(--link-hover-color);
}
a.btn:hover, a.btn:active {
	color: var(--link-hover-alt);
}

h1,
h2,
h3,
h4 {
	color: var(--clr-heading);
}

.text-muted {
	opacity: 0.75;
	/*
	Adding opacity creates a different layering and it's getting added as the top layer.
	To counteract this we need to add a z-index, but that only works on a positioned element.
	So, we give it a position: relative
	*/
	position: relative;
	z-index: -1;
}

[role=tooltip] {
	background-color: var(--clr-neutral-700);
	color: var(--background-color);
	border-color: var(--link-hover-color);
	-webkit-box-shadow: 0 0 15px 5px var(--clr-shadow);
	        box-shadow: 0 0 15px 5px var(--clr-shadow);
}

@media (prefers-color-scheme: light) {
	:root {
		--text-color: var(--clr-black);
		--background-color: var(--clr-neutral-100);
		--link-color: var(--clr-accent);
		--link-hover-color: var(--clr-accent-dark);
		--link-hover-alt: var(--clr-white);
		--clr-heading: var(--clr-accent);
		--clr-contrast-bg: #000;
		--clr-contrast-txt: #fff;
		--clr-shadow: rgba(0, 0, 0, 0.25);
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--text-color: var(--clr-neutral-100);
		--background-color: var(--clr-primary-dark);
		--link-color: var(--clr-accent-light);
		--link-hover-color: var(--clr-accent);
		--link-hover-alt: var(--clr-accent-light);
		--clr-heading: var(--clr-accent-light);
		--clr-contrast-bg: #fff;
		--clr-contrast-txt: #000;
		--clr-shadow: rgba(255, 255, 255, 0.25);
	}
}
.link-primary {
	color: hsl(193deg, 74%, 16%);
}

.btn-primary {
	background: hsl(193deg, 74%, 16%);
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	border-color: #10576a #030e12 #030e12 #10576a;
}
.btn-primary:hover, .btn-primary:active {
	opacity: 0.7;
}

.link-secondary {
	color: hsl(0deg, 0%, 30%);
}

.btn-secondary {
	background: hsl(0deg, 0%, 30%);
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	border-color: #616161 #2e2e2e #2e2e2e #616161;
}
.btn-secondary:hover, .btn-secondary:active {
	opacity: 0.7;
}

.link-success {
	color: hsl(120deg, 100%, 25%);
}

.btn-success {
	background: hsl(120deg, 100%, 25%);
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	border-color: #00a800 #004200 #004200 #00a800;
}
.btn-success:hover, .btn-success:active {
	opacity: 0.7;
}

.link-info {
	color: hsl(180deg, 100%, 25%);
}

.btn-info {
	background: hsl(180deg, 100%, 25%);
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	border-color: #00a8a8 #004242 #004242 #00a8a8;
}
.btn-info:hover, .btn-info:active {
	opacity: 0.7;
}

.link-warning {
	color: hsl(60deg, 100%, 50%);
}

.btn-warning {
	background: hsl(60deg, 100%, 50%);
	color: black;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	border-color: #ffff29 #c2c200 #c2c200 #ffff29;
}
.btn-warning:hover, .btn-warning:active {
	opacity: 0.7;
}

.link-danger {
	color: hsl(0deg, 100%, 40%);
}

.btn-danger {
	background: hsl(0deg, 100%, 40%);
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	border-color: #f50000 #8f0000 #8f0000 #f50000;
}
.btn-danger:hover, .btn-danger:active {
	opacity: 0.7;
}

.link-light {
	color: hsl(0deg, 0%, 90%);
}

.btn-light {
	background: hsl(0deg, 0%, 90%);
	color: black;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	border-color: #fafafa #c7c7c7 #c7c7c7 #fafafa;
}
.btn-light:hover, .btn-light:active {
	opacity: 0.7;
}

.link-dark {
	color: hsl(0deg, 0%, 20%);
}

.btn-dark {
	background: hsl(0deg, 0%, 20%);
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	border-color: #474747 #141414 #141414 #474747;
}
.btn-dark:hover, .btn-dark:active {
	opacity: 0.7;
}

:root {
	color-scheme: light dark;
}

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: calc(5px + 100vh);
	text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	-webkit-text-decoration-skip: ink;
	        text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
*::before,
*::after {
		-webkit-animation-duration: 0.01ms !important;
		        animation-duration: 0.01ms !important;
		-webkit-animation-iteration-count: 1 !important;
		        animation-iteration-count: 1 !important;
		-webkit-transition-duration: 0.01ms !important;
		        transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
body {
	font-size: 1rem;
	line-height: 1.6em;
	font-family: "Raleway", serif;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
	margin-bottom: 0.5em;
	margin-top: 1em;
	font-family: "Bitter", serif;
}

h1:first-child {
	margin-top: 0;
}

p,
figure,
blockquote,
dl,
dd {
	margin-bottom: 0.8em;
}

h1,
.display-1 {
	font-size: 3rem;
	font-weight: 500;
	letter-spacing: -0.03em;
}

h2,
.display-2 {
	font-size: 2.125rem;
	font-weight: 600;
}

h3,
.display-3 {
	font-size: 1.5rem;
}

h4,
.display-4 {
	font-size: 1.25rem;
}

h5 {
	font-size: 1rem;
}

small,
.small {
	font-size: 0.875rem;
}

.tiny {
	font-size: 0.75rem;
}

.lead {
	font-size: 1.25rem;
	font-family: "Bitter", sans-serif;
}

a.btn {
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: none;
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
}

.btn,
button {
	font-family: "Bitter", sans-serif;
}

.breadcrumb {
	font-size: 0.875rem;
}

ol,
ul {
	-webkit-padding-start: 3ch;
	        padding-inline-start: 3ch;
}

.list-inline {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 0.8em;
}

.skip-link {
	position: absolute;
	top: 0;
	left: 0;
	border: 3px solid var(--clr-info);
	background: var(--clr-contrast-bg);
	color: var(--clr-contrast-txt);
	font-weight: 700;
	padding: 1rem;
	-webkit-transition: cubic-bezier(0.23, 1, 0.32, 1) all 0.3s;
	transition: cubic-bezier(0.23, 1, 0.32, 1) all 0.3s;
	-webkit-transform: translateY(-110%);
	        transform: translateY(-110%);
	border-radius: 0 0 0.5rem 0.5rem;
}
.skip-link:focus, .skip-link:focus-within {
	-webkit-transform: translateY(0);
	        transform: translateY(0);
}

nav,
.nav {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	font-family: "Bitter", sans-serif;
}

.mainnav {
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	max-width: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-transform-origin: top;
	        transform-origin: top;
	z-index: 1;
}
@media (min-width: 51rem) {
	.mainnav {
		position: static;
	}
}
.mainnav[data-collapse=true] {
	opacity: 0;
	-webkit-transform: none;
	        transform: none;
	display: none;
}
@media (min-width: 51rem) {
	.mainnav[data-collapse=true] {
		opacity: 1;
		display: block;
	}
}
.mainnav[data-collapse=false] {
	opacity: 1;
	display: block;
}

.mainnav .nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.mainnav a {
	display: block;
}

.pagenavigation .pagination {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

[class*=tag-] {
	border: 1px solid transparent;
	text-transform: lowercase;
}
[class*=tag-] .btn {
	padding: 0.25em 0.75em;
	border-radius: 1000vw;
	font-size: 0.875rem;
	border: 0 none;
}

.card {
	padding: var(--padding, 1rem);
}

.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	-webkit-clip-path: inset(50%);
	        clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

button,
.btn {
	cursor: pointer;
	font-size: 0.875rem;
	border-radius: 0.5rem;
	padding: 0.4em 1em;
	border-width: 1px;
	border-style: solid;
}

input {
	padding: 0.4em 1em;
}

.mod-breadcrumbs {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.breadcrumb-item::before {
	content: "»";
	margin: 0 1ch;
}

.article-info {
	font-size: 0.875rem;
}
.article-info dd {
	margin-bottom: 0;
}

.readmore {
	margin: 1.6em auto;
}

[role=tooltip] {
	display: none;
	position: absolute;
	padding: 0.8em;
	border-radius: 0.5rem;
	border-style: solid;
	border-width: 1px;
	z-index: 1;
	font-size: 0.75rem;
	opacity: 0;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
:focus + [role=tooltip], :hover + [role=tooltip] {
	display: block;
	opacity: 1;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.btn {
	position: relative;
	z-index: -1;
}

.container {
	max-width: 90%;
	margin: 0 auto;
}

@media (min-width: 25rem) {
	.only-sm {
		display: inherit;
	}
}
@media (min-width: 51rem) {
	.only-sm {
		display: none;
	}
}
@media (min-width: 75rem) {
	.only-sm {
		display: none;
	}
}

@media (min-width: 25rem) {
	.only-md {
		display: none;
	}
}
@media (min-width: 51rem) {
	.only-md {
		display: inherit;
	}
}
@media (min-width: 75rem) {
	.only-md {
		display: none;
	}
}

@media (min-width: 25rem) {
	.only-lg {
		display: none;
	}
}
@media (min-width: 51rem) {
	.only-lg {
		display: none;
	}
}
@media (min-width: 75rem) {
	.only-lg {
		display: inherit;
	}
}

header {
	position: sticky;
	top: 0;
	isolation: isolate;
}

.pageheader {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
.pageheader .toggle {
	margin-top: 1rem;
}

.mainnav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 2rem 1rem;
}

.logo {
	max-height: 200px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
[data-size=small] .logo {
	max-height: 65px;
}
@media (min-width: 25rem) {
	.logo {
		max-height: 65px;
	}
}
/*# sourceMappingURL=template.css.map */