@charset "UTF-8";
:root {
	--clr-primary: hsl(125, 66%, 35%);
	--clr-primary-light: hsl(125, 25%, 85%);
	--clr-primary-dark: hsl(125, 44%, 16%);
	--clr-accent: hsl(77, 70%, 45%);
	--clr-accent-light: hsl(77, 44%, 67%);
	--clr-accent-dark: hsl(77, 44%, 17%);
	--clr-extra: hsl(56, 100%, 47%);
	--clr-extra-light: hsl(56, 70%, 77%);
	--clr-extra-dark: hsl(56, 70%, 27%);
	--clr-white: hsl(0, 100%, 100%);
	--clr-neutral-100: hsl(0, 0, 93%);
	--clr-neutral-200: hsl(0, 0, 83%);
	--clr-neutral-300: hsl(0, 0, 63%);
	--clr-neutral-500: hsl(0, 0, 53%);
	--clr-neutral-700: hsl(0, 0, 33%);
	--clr-neutral-900: hsl(0, 0, 20%);
	--clr-black: hsl(0, 0, 10%);
	--clr-secondary: var(--clr-neutral-300);
	--clr-success: green;
	--clr-danger: red;
	--clr-warning: yellow;
	--clr-info: teal;
}

body {
	color: var(--text-color);
	background-color: var(--background-color);
}

.pageheader,
.mainnav {
	background-color: var(--background-color);
}

a {
	color: var(--link-color);
}
a:hover, a:active {
	color: var(--link-hover-color);
}
a.btn:hover, a.btn:active {
	color: var(--link-hover-alt);
}

h1,
h2,
h3,
h4 {
	color: var(--clr-heading);
}

.text-muted {
	opacity: 0.75;
	/*
	Adding opacity creates a different layering and it's getting added as the top layer.
	To counteract this we need to add a z-index, but that only works on a positioned element.
	So, we give it a position: relative
	*/
	position: relative;
	z-index: -1;
}

[role=tooltip] {
	background-color: var(--clr-neutral-700);
	color: var(--background-color);
	border-color: var(--link-hover-color);
	box-shadow: 0 0 15px 5px var(--clr-shadow);
}

@media (prefers-color-scheme: light) {
	:root {
		--text-color: var(--clr-neutral-900);
		--background-color: var(--clr-white);
		--link-color: var(--clr-primary);
		--link-hover-color: var(--clr-primary-light);
		--link-hover-alt: var(--clr-black);
		--clr-heading: var(--clr-primary);
		--clr-contrast-bg: #000;
		--clr-contrast-txt: #fff;
		--clr-shadow: rgba(0, 0, 0, 0.25);
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--text-color: var(--clr-neutral-100);
		--background-color: var(--clr-primary-dark);
		--link-color: var(--clr-accent-light);
		--link-hover-color: var(--clr-accent);
		--link-hover-alt: var(--clr-accent-light);
		--clr-heading: var(--clr-accent-light);
		--clr-contrast-bg: #fff;
		--clr-contrast-txt: #000;
		--clr-shadow: rgba(255, 255, 255, 0.25);
	}
}
.link-primary {
	color: hsl(125deg, 66%, 35%);
}

.btn-primary {
	background: hsl(125deg, 66%, 35%);
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	border-color: #25b631 #14611a #14611a #25b631;
}
.btn-primary:hover, .btn-primary:active {
	opacity: 0.7;
}

.link-secondary {
	color: hsl(0deg, 0%, 63%);
}

.btn-secondary {
	background: hsl(0deg, 0%, 63%);
	color: black;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	border-color: #b5b5b5 #828282 #828282 #b5b5b5;
}
.btn-secondary:hover, .btn-secondary:active {
	opacity: 0.7;
}

.link-success {
	color: green;
}

.btn-success {
	background: green;
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	border-color: #00a900 #004300 #004300 #00a900;
}
.btn-success:hover, .btn-success:active {
	opacity: 0.7;
}

.link-info {
	color: teal;
}

.btn-info {
	background: teal;
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	border-color: #00a9a9 #004343 #004343 #00a9a9;
}
.btn-info:hover, .btn-info:active {
	opacity: 0.7;
}

.link-warning {
	color: yellow;
}

.btn-warning {
	background: yellow;
	color: black;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	border-color: #ffff29 #c2c200 #c2c200 #ffff29;
}
.btn-warning:hover, .btn-warning:active {
	opacity: 0.7;
}

.link-danger {
	color: red;
}

.btn-danger {
	background: red;
	color: black;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	border-color: #ff2929 #c20000 #c20000 #ff2929;
}
.btn-danger:hover, .btn-danger:active {
	opacity: 0.7;
}

.link-light {
	color: hsl(0deg, 0%, 90%);
}

.btn-light {
	background: hsl(0deg, 0%, 90%);
	color: black;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	border-color: #fafafa #c7c7c7 #c7c7c7 #fafafa;
}
.btn-light:hover, .btn-light:active {
	opacity: 0.7;
}

.link-dark {
	color: hsl(0deg, 0%, 20%);
}

.btn-dark {
	background: hsl(0deg, 0%, 20%);
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	border-color: #474747 #141414 #141414 #474747;
}
.btn-dark:hover, .btn-dark:active {
	opacity: 0.7;
}

:root {
	color-scheme: light dark;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: calc(5px + 100vh);
	text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
*::before,
*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
body {
	font-size: 0.875rem;
	line-height: 1.6em;
	font-family: "Arial", "Helvetica", sans-serif;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
	margin-bottom: 0.5em;
	margin-top: 1em;
	font-family: "Arial", "Helvetica", sans-serif;
	line-height: 1.2em;
}

h1:first-child {
	margin-top: 0.2em;
}

p,
figure,
blockquote,
dl,
dd {
	margin-bottom: 0.8em;
}

h1,
.display-1 {
	font-size: 3rem;
	font-weight: 500;
	letter-spacing: -0.03em;
}

h2,
.display-2 {
	font-size: 2.125rem;
	font-weight: 600;
}

h3,
.display-3 {
	font-size: 1.5rem;
}

h4,
.display-4 {
	font-size: 1.25rem;
}

h5 {
	font-size: 1rem;
}

small,
.small {
	font-size: 0.8125rem;
}

.tiny {
	font-size: 0.75rem;
}

.lead {
	font-size: 1.25rem;
	font-family: "Georgia", sans-serif;
}

a.btn {
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: none;
	transition: all 0.15s ease;
}

.btn,
button {
	font-family: "Arial", "Helvetica", sans-serif;
}

.breadcrumb {
	font-size: 0.8125rem;
}

ol,
ul {
	padding-inline-start: 3ch;
}

.list-inline {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	display: flex;
	gap: 0.8em;
}

.skip-link {
	position: absolute;
	top: 0;
	left: 0;
	border: 3px solid var(--clr-info);
	background: var(--clr-contrast-bg);
	color: var(--clr-contrast-txt);
	font-weight: 700;
	padding: 1rem;
	transition: cubic-bezier(0.23, 1, 0.32, 1) all 0.3s;
	transform: translateY(-110%);
	border-radius: 0 0 0.5rem 0.5rem;
}
.skip-link:focus, .skip-link:focus-within {
	transform: translateY(0);
}

nav,
.nav {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	margin-block: 0;
}

.toggle::after {
	transition: all 0.3s ease;
}

.toggle::after,
.toggle[data-open=false]::after {
	transform: rotate(0);
}

.toggle[data-open=true]::after {
	transform: rotate(180deg);
}

.mainnav {
	transition: all 0.3s ease-in-out;
	z-index: 1;
	line-height: 1;
	width: 100%;
	overflow: hidden;
}
@media (min-width: 51rem) {
	.mainnav {
		position: static;
		padding: 2rem 1rem;
	}
}
.mainnav[data-count="1"] {
	height: 2em;
}
.mainnav[data-count="2"] {
	height: 4em;
}
.mainnav[data-count="3"] {
	height: 6em;
}
.mainnav[data-count="4"] {
	height: 8em;
}
.mainnav[data-count="5"] {
	height: 10em;
}
.mainnav[data-count="6"] {
	height: 12em;
}
.mainnav[data-count="7"] {
	height: 14em;
}
.mainnav[data-count="8"] {
	height: 16em;
}
.mainnav[data-count="9"] {
	height: 18em;
}
.mainnav[data-count="10"] {
	height: 20em;
}
.mainnav[data-collapse=true] {
	height: 0;
}

.mainnav .nav {
	display: flex;
	flex-direction: column;
}
@media (min-width: 51rem) {
	.mainnav .nav {
		flex-direction: row;
		gap: 1em;
	}
}
.mainnav a {
	display: block;
	padding: 0.5em;
	text-decoration: none;
	text-transform: capitalize;
}

.pagenavigation .pagination {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	display: flex;
	justify-content: space-between;
}

[class*=tag-] {
	border: 1px solid transparent;
	text-transform: lowercase;
}
[class*=tag-] .btn {
	padding: 0.25em 0.75em;
	border-radius: 1000vw;
	font-size: 0.8125rem;
	border: 0 none;
}

.card {
	padding: var(--padding, 1rem);
}

.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

button,
.btn {
	cursor: pointer;
	font-size: 0.8125rem;
	border-radius: 0.5rem;
	padding: 0.4em 1em;
	border-width: 1px;
	border-style: solid;
}

input {
	padding: 0.4em 1em;
}

.mod-breadcrumbs {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
}

.breadcrumb-item::before {
	content: "»";
	margin: 0 1ch;
}

.article-info {
	font-size: 0.8125rem;
}
.article-info dd {
	margin-bottom: 0;
}

.readmore {
	margin: 1.6em auto;
}

@media (min-width: 51rem) {
	.newsflash {
		display: flex;
		justify-content: space-around;
		justify-items: center;
		flex-wrap: wrap;
		gap: 1rem;
	}
	.newsflash > div {
		flex: 1 0 12rem;
		max-width: 50%;
	}
}

[role=tooltip] {
	display: none;
	position: absolute;
	padding: 0.8em;
	border-radius: 0.5rem;
	border-style: solid;
	border-width: 1px;
	z-index: 1;
	font-size: 0.75rem;
	opacity: 0;
	transition: all 0.5s ease;
}
:focus + [role=tooltip], :hover + [role=tooltip] {
	display: block;
	opacity: 1;
	transition: all 0.5s ease;
}

.btn {
	position: relative;
	z-index: 1;
}

.container {
	margin: 0 auto;
	width: 90%;
}

main {
	isolation: isolate;
}

.container {
	max-width: 90%;
	margin: 0 auto;
}

.grid-columns {
	display: grid;
	gap: 2rem;
}

.over .grid-columns {
	grid-template-columns: 2fr 4fr;
}
.over .item-page {
	grid-column: 2/-1;
}

.pageheader {
	position: sticky;
	top: 0;
	isolation: isolate;
	z-index: 1;
	margin-bottom: 1rem;
	text-align: center;
}
.pageheader .toggle {
	display: block;
	width: 100%;
}
.pageheader .toggle::after {
	content: "";
	display: inline-block;
	margin-left: 1ch;
	border-style: solid;
	border-width: 1ch 1ch 0 1ch;
	border-color: currentColor transparent transparent transparent;
}

.logo {
	display: block;
	margin: 0 auto;
	width: 210px;
	aspect-ratio: 42/23;
	transition: all 0.5s ease;
}
.logo img {
	object-fit: contain;
}
[data-size=small] .logo {
	width: 110px;
}
[data-size=small] .logo .mainnav {
	padding: 1rem;
}

.mod-grid > div > ul {
	align-items: center;
	gap: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.powered_by ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}
.powered_by li {
	flex: 0 2 7.5rem;
}

@media (min-width: 25rem) {
	.only-sm {
		display: inherit;
	}
}
@media (min-width: 51rem) {
	.only-sm {
		display: none;
	}
}
@media (min-width: 75rem) {
	.only-sm {
		display: none;
	}
}

@media (min-width: 25rem) {
	.only-md {
		display: none;
	}
}
@media (min-width: 51rem) {
	.only-md {
		display: inherit;
	}
}
@media (min-width: 75rem) {
	.only-md {
		display: none;
	}
}

@media (min-width: 25rem) {
	.only-lg {
		display: none;
	}
}
@media (min-width: 51rem) {
	.only-lg {
		display: none;
	}
}
@media (min-width: 75rem) {
	.only-lg {
		display: inherit;
	}
}

/* .pageheader {
	opacity: 0.5;
}
 */

/*# sourceMappingURL=template.css.map */