.home {
  .blog-item {
    display: grid;
    grid-template-columns: repeat(3 minmax(max-content, 1fr));
    grid-template-rows: repeat(3, 1fr);
    background-color: lime;
    overflow: hidden;

    figure {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      margin-bottom: 0;
    }

    .item-content {
      grid-column: 1;
      grid-row: 1;
      width: 50ch;
    }

    img {
      width: 100%;
      height: 100%;
      // height: 325px;
      object-fit: cover;
      aspect-ratio: 18 / 6.5;
      // display: block;  
    }

    .item-content {
      background: green;
    }
  }
}