.nieuws {

  .blog-item,
  .item-page {
    background-color: transparent;
    padding: 1rem 0;
    border-width: 0;
    border-style: none;
    border-radius: 0;
    box-shadow: revert;
    margin-bottom: 2rem;
  }
}