@use 'abstracts' as a;

:root {
	--clr-primary: hsl(125, 66%, 35%);
	--clr-primary-light: hsl(125, 25%, 85%);
	--clr-primary-dark: hsl(125, 44%, 16%);

	--clr-accent: hsl(77, 70%, 45%);
	--clr-accent-light: hsl(77, 44%, 67%);
	--clr-accent-dark: hsl(77, 44%, 17%);

	--clr-extra: hsl(56, 100%, 47%);
	--clr-extra-light: hsl(56, 70%, 77%);
	--clr-extra-dark: hsl(56, 70%, 27%);

	--clr-white: hsl(0, 100%, 100%);
	--clr-neutral-100: hsl(0, 0%, 93%);
	--clr-neutral-200: hsl(0, 0%, 83%);
	--clr-neutral-300: hsl(0, 0, 63%);
	--clr-neutral-500: hsl(0, 0, 53%);
	--clr-neutral-700: hsl(0, 0, 33%);
	--clr-neutral-900: hsl(0, 0, 20%);
	--clr-black: hsl(0, 0, 10%);

	--clr-secondary: var(--clr-neutral-300);
	--clr-success: green;
	--clr-danger: red;
	--clr-warning: yellow;
	--clr-info: teal;
}

body {
	color: var(--text-color);
	background-color: var(--background-color);
}

.pageheader,
.mainnav {
	background-color: var(--background-color);
}

a {
	color: var(--link-color);
	// text-decoration-color: red;

	&:hover,
	&:active {
		color: var(--link-hover-color);
	}

	&.btn:hover,
	&.btn:active {
		color: var(--link-hover-alt);
	}
}

h1,
h2,
h3,
h4,
blockquote,
.quote {
	color: var(--clr-heading);
}

.text-muted {
	opacity: 0.75;
	/*
	Adding opacity creates a different layering and it's getting added as the top layer.
	To counteract this we need to add a z-index, but that only works on a positioned element.
	So, we give it a position: relative
	*/
	position: relative;
	z-index: -1;
}

.items-below .newsflash-title {
	@include a.bg(primary)
}

.category-module li {
	@include a.bg(primary);
}

.mod-articlesnews__item {
	border-color: var(--bg-neutral);
}

footer {
	@include a.bg(neutral)
}

[role='tooltip'] {
	background-color: var(--clr-neutral-700);
	color: var(--background-color);
	border-color: var(--link-hover-color);
	box-shadow: 0 0 15px 5px var(--clr-shadow);
}

@media (prefers-color-scheme: light) {
	:root {
		--text-color: var(--clr-neutral-900);
		--background-color: var(--clr-white);
		--link-color: var(--clr-primary);
		--link-hover-color: var(--clr-primary-dark);
		--link-hover-alt: var(--clr-black);
		--clr-heading: var(--clr-primary);
		--clr-contrast-bg: #000;
		--clr-contrast-txt: #fff;
		--clr-shadow: #{a.$trans-dark};

		--bg-neutral: var(--clr-neutral-100);
		--bg-primary: var(--clr-primary-light);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-color: var(--clr-neutral-100);
		--background-color: var(--clr-primary-dark);
		--link-color: var(--clr-accent-light);
		--link-hover-color: var(--clr-accent);
		--link-hover-alt: var(--clr-accent-light);
		--clr-heading: var(--clr-accent-light);
		--clr-contrast-bg: #fff;
		--clr-contrast-txt: #000;
		--clr-shadow: #{a.$trans-light};
	}
}