footer {
  .container {
    padding: 1.6rem;
  }

  h3 {
    margin: 1.6em 0;
    text-align: center;
  }

  a {
    transition: all .3s ease;

    &:link,
    &:visited {
      opacity: .6;
    }

    &:hover,
    &:active {
      opacity: 1;
    }
  }
}