@use 'abstracts' as a;

html,
body {
	min-height: 100vh;
}


.container {
	margin: 0 auto;
	max-width: 72.3rem;
	width: a.$container-size;
}

main {
	isolation: isolate;
}

footer {
	margin-top: 2rem;
}