@use 'abstracts' as a;

body {
	display: grid;
	grid-template-rows: min-content auto min-content;
	align-items: stretch;
}

main {
	align-self: stretch;
}

header {
	align-self: start;
}

footer {
	align-self: end;
}

.grid-columns {
	display: grid;
	gap: 2rem;
}

@include a.bp(medium) {
	.grid-columns {
		grid-template-columns: repeat(2, 1fr);

		.nieuws &,
		.veelgestelde-vragen & {
			grid-template-columns: 3fr 7fr;
		}
	}

	.main-column {
		grid-column: 2 / -1;
		grid-row: 1 / -1;
	}

	.grid-full-width {
		grid-column: 1 / -1;
	}
}


// .over {
// 	.grid-columns {
// 		grid-template-columns: 2fr 4fr;
// 	}
// 	.item-page {
// 		grid-column: 2 / -1;
// 	}
// }