@use 'abstracts' as a;

.container {
	max-width: 90%;
	margin: 0 auto;
}

.grid-columns {
	display: grid;
	gap: 2rem;
}

@include a.bp(medium) {
	.grid-columns {
		grid-template-columns: repeat(2, 1fr);
	}

	.main-column {
		grid-column: 2 / -1;
		grid-row: 1 / -1;
	}

	.grid-full-width {
		grid-column: 1 / -1;
	}
}

// .over {
// 	.grid-columns {
// 		grid-template-columns: 2fr 4fr;
// 	}
// 	.item-page {
// 		grid-column: 2 / -1;
// 	}
// }