@use 'abstracts' as a;
header {
	position: sticky;
	// position: relative;
	top: 0;
	isolation: isolate;
}
.pageheader {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	.toggle {
		margin-top: 1rem;
	}
}

.mainnav {
	display: flex;
	padding: 2rem 1rem;
}
.logo {
	max-height: 200px;
	transition: all 0.3s ease;
	[data-size='small'] & {
		max-height: 65px;
	}
	@include a.bp(small) {
		max-height: 65px;
	}
}
