@use 'abstracts' as a;

.pageheader {
	// position: sticky;
	// top: 0;
	isolation: isolate;
	z-index: 1;
	margin-bottom: 1rem;
	text-align: center;
}

.toggle {
	//	margin-top: 1rem;
	display: block;
	width: 100%;

	&::after {
		content: '';
		display: inline-block;
		margin-left: 1ch;
		border-style: solid;
		border-width: 1ch 1ch 0 1ch;
		border-color: currentColor transparent transparent transparent;
	}
}


.logo {
	display: block;
	margin: 0 auto;
	width: 210px;
	aspect-ratio: 42 / 23;
	transition: all .5s ease;

	img {
		object-fit: contain;
	}

	// [data-size='small'] & {
	// 	width: 110px;

	// img {}

	// .mainnav {
	// 	padding: 1rem;
	// }
	// }

}

@include a.bp(medium) {
	.pageheader {
		border-bottom: 3px solid var(--clr-primary);
	}

	#hoofdmenu {
		align-items: stretch;
		justify-content: flex-end;
	}
}

@include a.bp(large) {
	.pageheader {
		display: flex;
		align-items: flex-end;
	}


}