@use 'abstracts' as a;

.mod-grid>div>ul {
	// display: grid;
	// grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
	align-items: center;
	gap: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.powered_by {
	ul {
		// background: lightcoral;
		@include a.unstyled-list;
	}

	li {
		flex: 0 2 7.5rem;
	}
}

.category-module {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;

	@include a.bp(medium) {
		grid-template-columns: repeat(2, 1fr);
	}

	@include a.bp(large) {
		grid-template-columns: repeat(4, 1fr);
	}

	li {
		@include a.br(small);
		padding: .75vw;
		flex: 1 1 17rem;
	}

	a:link {
		display: block;
		text-decoration: none;
		font-weight: 700;
		margin-bottom: .875em;
	}
}

.quote {
	margin: 2rem 0 3rem;
}

.faq {
	position: relative;
	isolation: isolate;
	overflow: hidden;

	.icon {
		position: absolute;
		z-index: -1;
		text-shadow: -1px -1px 2px rgba(#fff, .75);
		color: var(--clr-icon);
		font-size: 16rem;
		top: 0;
		right: -10%;

		@include a.bp(medium) {
			font-size: 14rem;
			top: 5%;
			right: -5%;
		}
	}
}

.sidebar {

	h2,
	h3,
	h4 {
		text-align: right;
	}
}

.grid-column .mod-articlesnews {
	&__item {
		@include a.br(small);
		display: grid;
		grid-template-columns: 2fr 1fr;
		margin-bottom: 1rem;
		padding: 1rem;
		border-width: 1px;
		border-style: solid;
		grid-auto-flow: dense;
	}

	.newsflash-title {
		grid-column: 1 / -1;
		text-align: right;
	}

	.newsflash-image {
		grid-column: 2;
	}

	p {
		grid-column: 1;
	}

	figure {
		margin-bottom: 0;
	}
}

.praktijk {
	margin-top: 1.25rem;
}