@use 'abstracts' as a;

.article-info {
	font-size: a.$fs-small;

	dd {
		margin-bottom: 0;
	}
}

.readmore {
	margin: a.$base-line-height auto;
}

.newsflash {

	@include a.bp(medium) {
		display: flex;
		justify-content: space-around;
		justify-items: center;
		flex-wrap: wrap;
		gap: 1rem;

		>div {
			flex: 1 0 12rem;
			max-width: 50%;
		}
	}
}