@use 'abstracts' as a;
@use './base/utilities' as u;

button,
.btn {
	cursor: pointer;
	font-size: a.$fs-small;
	border-radius: a.$space-fixed-small;
	padding: calc(a.$base-line-height * 0.25) 1em;
	border-width: 1px;
	border-style: solid;
}

.input-password-toggle {}