@use 'abstracts' as a;

ol,
ul {
	padding-inline-start: 3ch;
}

.unstyled-list {
	@include a.unstyled-list;
}

.list-inline {
	@include a.unstyled-list;
	display: flex;
	gap: a.$space-relative-small;
}