@use 'abstracts' as a;

:root {
	//setting new root font size so every 'rem' is based on this new size
	font-size: a.$fs-body;
}

body {
	line-height: a.$base-line-height;
	font-family: a.$fnt-base;
	font-weight: a.$fnt-base-weight;
}

h1,
h2,
h3,
h4,
h5 {
	margin-bottom: 0.5em;
	margin-top: 1em;
	font-family: a.$fnt-head;
	font-weight: a.$fnt-head-weight;
	line-height: a.$head-line-height;

	&:first-child {
		margin-top: 0;
	}
}

h1:first-child {
	margin-top: 0.2em;
}


p,
figure,
dl,
dd {
	margin-bottom: a.$space-relative-small;
}

h1,
.display-1 {
	font-size: a.$fs-h1;
	letter-spacing: -0.03em;
}

.page-header h1 {
	font-size: a.$fs-h2;
}

h2,
.display-2 {
	font-size: a.$fs-h2;
}

h3,
.display-3 {
	font-size: a.$fs-h3;
}

h4,
.display-4 {
	font-size: a.$fs-h4;
}

h5 {
	font-size: a.$fs-h5;
}

small,
.small {
	font-size: a.$fs-small;
}

.tiny {
	font-size: a.$fs-min;
}

.lead {
	font-size: a.$fs-h4;
	font-family: a.$fnt-alt;
}

.quote {
	font-family: a.$fnt-alt;
	text-align: right;
}

blockquote {
	font-weight: a.$fnt-head-weight;
	font-style: italic;
	font-size: a.$fs-h2;
	margin-bottom: .25em;
}

// Links

a.btn {
	text-decoration: none;
}

a {
	transition: all a.$tf-base;

	&:hover,
	&:active {
		// makes a nicer transition than text-decoration: none;
		text-decoration-color: transparent;
	}
}

.btn,
button {
	font-family: a.$fnt-base;
}

.breadcrumb {
	font-size: a.$fs-small;
}

@font-face {
	font-family: 'Droid Sans';
	src: url('../fonts/DroidSans-webfont.woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Droid Sans';
	src: url('../fonts/DroidSans-Bold-webfont.woff');
	font-weight: 700;
	font-style: normal;
}