@use 'abstracts' as a;

body {
	font-size: a.$fs-body;
	line-height: a.$line-height;
	font-family: a.$fnt-base;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
	margin-bottom: 0.5em;
	margin-top: 1em;
	font-family: a.$fnt-head;
}
h1:first-child {
	margin-top: 0;
}
p,
figure,
blockquote,
dl,
dd {
	margin-bottom: a.$space-relative-small;
}
h1,
.display-1 {
	font-size: a.$fs-h1;
	font-weight: 500;
	letter-spacing: -0.03em;
}
h2,
.display-2 {
	font-size: a.$fs-h2;
	font-weight: 600;
}
h3,
.display-3 {
	font-size: a.$fs-h3;
}
h4,
.display-4 {
	font-size: a.$fs-h4;
}
h5 {
	font-size: a.$fs-h5;
}
small,
.small {
	font-size: a.$fs-small;
}
.tiny {
	font-size: a.$fs-min;
}
.lead {
	font-size: a.$fs-h4;
	font-family: a.$fnt-alt;
}

// Links

a.btn {
	text-decoration: none;
}

a {
	&:hover,
	&:active {
		text-decoration: none;
		transition: all a.$tf-base;
	}
}

.btn,
button {
	font-family: a.$fnt-alt;
}
.breadcrumb {
	font-size: a.$fs-small;
}
