@mixin bp($point) {
	@if $point == small {
		//400px
		@media (min-width: 25rem) {
			@content;
		}
	} @else if $point == max-medium {
		//816px
		@media (max-width: calc(51rem - 1px)) {
			@content;
		}
	} @else if $point == medium {
		//816px
		@media (min-width: 51rem) {
			@content;
		}
	} @else if $point == large {
		//1200px
		@media (min-width: 75rem) {
			@content;
		}
	}
}

@mixin unstyled-list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}
