@mixin bp($point) {
	@if $point ==small {

		//400px
		@media (min-width: 25rem) {
			@content;
		}
	}

	@else if $point ==mobile {

		//815px
		@media (max-width: calc(46rem - 1px)) {
			@content;
		}
	}

	@else if $point ==medium {

		//816px
		@media (min-width: 46rem) {
			@content;
		}
	}

	@else if $point ==large {

		//923px
		@media (min-width: 58rem) {
			@content;
		}
	}
}

@mixin unstyled-list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

@mixin bg($color) {
	//define these theme colors in theme/default
	background-color: var(--bg-#{$color});
}

@mixin br($size) {
	@if $size ==small {
		border-radius: .5rem;
	}

	@if $size ==medium {
		border-radius: 1rem;
	}

	@if $size ==large {
		border-radius: 2rem;
	}
}