// Paths - change for production: css will also be stored in media
$img-path: '../../media/templates/s1pj4/img';

// Fonts
$fnt-base: 'Arial', 'Helvetica', sans-serif;
$fnt-head: 'Arial', 'Helvetica', sans-serif;
$fnt-alt: 'Georgia', sans-serif;
$fnt-accent: Arial, sans-serif;

$fs-h1: 3rem;
$fs-h2: 2.125rem;
$fs-h3: 1.5rem;
$fs-h4: 1.25rem;
$fs-h5: 1rem;
$fs-body: 1rem;
$fs-small: 0.875rem;
$fs-min: 0.75rem;

$line-height: 1.6em;

// Space

$container-size: 90%;
$container-size-small: 95%;
$container-size-large: 80%;

$space-fixed: 1rem;
$space-fixed-small: 0.5rem;
$space-fixed-mini: 0.2rem;
$space-fixed-large: 2rem;

$space-relative: 1em;
$space-relative-small: $line-height * 0.5;
$space-relative-mini: $line-height * 0.1;
$space-relative-large: 2em;

//movement

$tf-base: 0.15s ease;
$tf-small: 0.3s ease;
$tf-large: 0.5s ease;

// utility-colors

$utility-colors: (
	// colors from theme/default;
	'primary': hsl(125, 66%, 35%),
	'secondary': hsl(0, 0, 63%),
	'success': green,
	'info': teal,
	'warning': yellow,
	'danger': red,
	'light': hsl(0, 0%, 90%),
	'dark': hsl(0, 0%, 20%)
);

$trans-dark: rgba(0, 0, 0, 0.25);
$trans-light: rgba(255, 255, 255, 0.25);

// Theme colors in custom properties in theme
